@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  padding: 1rem 2rem;
  background: #83dfef; 
}
nav h1 {
  /* color: #9808c4; */
  font-size: 30px;
  background-clip: padding-box;
  background: linear-gradient(to right, #ea1969,
                    #f96503, #ed18ed, #f4dd08);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}
nav ul {
  display: flex;
  list-style: none; 
}

nav li {
  padding-left: 1rem; 
}

nav a {
  text-decoration: none;
  color: #0643a0;
  font-weight: 400;
}
nav a:hover {
  color: #000000;
  font-size: larger;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
    padding-top: 0.5rem;
  }
  nav li {
    padding: 0.5rem 0;
  }
} 

body {
  background: #E3F2FD;
}

.intro {
	padding: 2.5%;
	font-size: larger;
	color: #74119fe2;
	font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.intro h1 {
	color: #1cab3bd7;
	font-style: var(--grey-d-3);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 800;
	font-size: 6.5vw;
	text-align: center;
	/* text-transform: uppercase; */
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 25%,
    #ff1361 50%,
	orange 75%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s cubic-bezier(0.11, 0, 0.57, 1) infinite;
  /* display: inline-block; */
    /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.about {
	padding: 2.5%;
	margin: 1%;
	font-size: medium;
	color: #000000;
	border:solid #696969 1.6vw;
	background: linear-gradient(124deg, #ff2200a1, #e81d1da2, #e8b91dae, #e5e81da8, #1de83fae, #1ddee8a7, #2b1de8ab, #df00f3ae, #df00f3ae);
	border-radius: 7%;
	
}

.about h2{
	color: #f519f2c7;
	text-align: center;
	font-size: 7vw;

}
.about p{
	padding-right: 3%;
	font-size: 105%;
	font-family: 'Merriweather', serif;
}

.work {
	position: relative;
	text-align: center;
	margin: 1.5%;
	padding: 1.5%;
	animation: animate 20s infinite linear forwards;
    background-blend-mode: soft-light;
	background-size:auto 100%,cover;
    background-repeat:no-repeat,repeat-x;
    background-position: 100% 100%,50% 50%;
	opacity: 1.0;
	border-radius: 12vw;
	z-index: -1;
}

@keyframes animate {
	0%{background-image:url(man.jpg);}
	20%{background-image:url(child.jpg);}
	40%{background-image:url(girl.jpg);}
	60%{background-image:url(people.jpg);}
	80%{background-image:url(smiley.jpg);}
	100%{background-image:url(man.jpg);}
	}

.work .work1 p {
	/* position: absolute; */
	display: inline-block;
	left: 24rem;
	padding-bottom: 2vw;
	font-family: 'Caveat', cursive;
	font-size: 3vw;
	font-weight: 500;
	opacity: 1.0;
}
.work .data h3 {
	color: rgb(0, 0, 0);
}
.work .red {
	background-color: rgba(255, 0, 0, 0.726);
	border: rgb(222, 12, 12) solid;
	border-radius: 15%;
	position: relative;
}
.work .blue {
	background-color: rgba(21, 28, 250, 0.858);
	border: rgb(12, 58, 222) solid;
	border-radius: 15%;
}
.work .yellow {
	background-color: rgba(255, 255, 0, 0.863);
	border: rgb(208, 222, 12) solid;
	border-radius: 15%;
}
.work .green {
	background-color: rgba(0, 255, 55, 0.842);
	border: rgb(12, 222, 58) solid;
	border-radius: 15%;
}
.work .orange {
	background-color: rgba(255, 136, 0, 0.808);
	border: rgb(222, 145, 12) solid;
	border-radius: 15%;
}
.work .pink {
	background-color: rgb(255, 0, 212);
	border: rgb(222, 12, 201) solid;
	border-radius: 15%;
}
.work h3 {
	font-family: 'Dancing Script', cursive;
	font-size: 4vw;
}

.contact-us {
	margin: 1vw;
	padding: 1vw;
	text-align: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact-us h1{
	color: #e98a15;
}

footer {
	padding: 10px 20px;
	background: #666;
	color: white;
	justify-content: center;
	text-align: center;
  bottom: 0;
	font-size: larger;
  margin-bottom: 7vh;
  }
  .footer a{
	color: white;
  }

.chatbot-toggler {
  position: fixed;
  bottom: 5px;
  right: 47%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e84a74;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 115px;
  bottom: 62px;
  width: 380px;
  height: 525px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #724ae8;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}
@media (max-width: 490px) {
  .chatbot-toggler {
    right: 170px;
    bottom: 5px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
  footer {
    margin-bottom: 6vh;
  }
  .touch_here p {
    left: 30vw;
  }
}

@media (max-height:700px) {
  
}

.touch_here {
  height: 8.5%;
  background: linear-gradient(100deg, #ff220084, #e81d1d7a, #e8b91d8a, #e5e81d84, #1de83f82, #1ddee88f, #2b1de894, #df00f389, #df00f385);
  bottom: 0;
  position: fixed;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: 55%;
  border-top-right-radius: 55%;
}

.touch_here p {
  color: #000000;
  font-size: xx-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
}
